@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.body{
    width: 800px;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#e0e411, #47b81b);
}
.login-caixa{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
.login-caixa h2{
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
}
user-caixa input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}
.user-caixa input:focus{
    border-bottom-color: aqua;
}
.user-caixa label{
    position: absolute;
    top: 5;
    right: 3;

}
.login-caixa form a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: aqua;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: all -0.5s;
    margin-right: 40px;
    letter-spacing: 4px;
}
.login-caixa a:hover{
background: aqua;
color: aliceblue;
border-radius: 5px;
box-shadow: 0 0 5px aqua, 0 0 25px aqua, 0 0 50px aqua
0 0 aqua;
}