    .book-carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  
  .book-carousel img {
    flex-shrink: 0;
    width: 200px;
    height: 300px;
    margin-right: 10px;
    scroll-snap-align: start;
  }